/* preloader/transitions.css */
.curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    pointer-events: none;
    display: none;
}

.curtain-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.curtain__rect {
    fill: #9f887c;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    will-change: transform;
    opacity: 0;
    mix-blend-mode: difference;
}

.cursor__follower {
    position: relative;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
}

.cursor__follower svg {
    width: 100%;
    height: 100%;
}